
@{
    ViewBag.Title = "Landing";
}   
@model miniForo.Models.dbDummyUser


    <style>

        .wrapper {
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: auto auto auto auto;
            grid-gap:2%;
        }

        table {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        form {
            grid-column: 2/3;
            grid-row: 2/4;
        }
        #agregar {
        
            grid-column: 1/2;
            grid-row: 2;
            height: 69px;
            width: 162px;
    
        }

    </style>
    <div class="wrapper">

        <h1>Welcome Back @*ViewModel.userTag*@Francisquitus </h1><!--Esto esta comentado-->
        <button onclick= "location.href ='@(Url.Action("CreateEntry", "Home"))'" type="button" id="agregar" class="btn btn-primary btn-lg">Add Entry</button>
        <table class="table table-striped">
            <thead>
                <tr >
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">UserTag</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>


                <tr onclick= "location.href ='@(Url.Action("LoadEntry", "Home"))'">
                    <th scope="row">@ViewBag.title</th>
                    <td>@ViewBag.description</td>
                    <td>@ViewBag.userTag</td>
                    <td>19/6/2020-10:36 GTM-3</td> <!--Esto aca va a ser el User tag, pero no se puede poner arroba porque es razor-->
                </tr>



                <!--Stripped rows <3-->
                <tr>
                    <th scope="row">Amet</th>
                    <td>Amet consectetur adipisicing elit.</td>
                    <td>Nicolainas</td>
                    <td>19/6/2020-10:36 GTM-3</td>
                </tr>


            </tbody>

        </table>

        @using (Html.BeginForm("LogIn", "Users", FormMethod.Post))
        {
            <h2>Log In: </h2>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                @Html.TextBoxFor(m => m.email, new { @class = "form-control" })

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                @Html.TextBoxFor(m => m.password, new { @class = "form-control" })
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            
        }
        
    </div>
