
    <style>

        .wrapper {
            display: grid;
            grid-template-columns:  10% 80% 10%;
            grid-template-rows: auto auto auto auto;
            gap:2%;
        }

        table {
            grid-column: 2/3;
            grid-row: 3/4;
        }

       
        #agregar {
        
            grid-column: 2/3;
            grid-row: 2;
            height: 69px;
            width: 162px;
    
        }
        h1{
            grid-column:2/3;
        }

    </style>
    <div class="wrapper">




        @model miniForo.Models.ListingEntry

        @{HttpCookie userCookie = Request.Cookies["UserCookie"];}

        @if (Request.Cookies["UserCookie"] != null)
        {
            <h1>Welcome Back @userCookie.Value! </h1>
        }
    
        <button onclick="location.href ='@(Url.Action("CreateEntry", "Home"))'" type="button" id="agregar" class="btn btn-primary btn-lg">Add Entry</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">UserTag</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>


                @foreach (var entrada in Model.Listing)
                {
                    <tr onclick="location.href = '@(Url.Action("LoadEntry", "Home", new { entryId = entrada.id }))'">
                        <th scope="row">@entrada.title</th>
                        <td>@entrada.description</td>
                        <td>@entrada.userId</td>
                        <td>no hay fecha</td>

                    </tr>
                }



                


                <!--Stripped rows <3-->




            </tbody>

        </table>
        <!--Meter esto en una nueva vista, dedicada a esto y que sea la pagina por default cuando entras al foro-->



    </div>
